<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>
		I qualified as a solicitor in 1977. Before that, I was what was then called an 'Articled Clerk' from 1974. Before that, I started training in the law at the College of Law in 1973. So I have been working, one way or another, in the law for about 45 years.
	</p>

	<p>
		Anyone in England can be a 'Legal Adviser' or a 'Counsellor at Law'. Only someone who has passed the right exams and formal training, has a current Practising Certificate issued by the Solicitors Regulation Authority (“SRA”), who is registered correctly with the SRA and who has the right professional indemnity insurance in place, can practice as a 'solicitor'. I have all these. What is more, only a practising solicitor can do certain 'reserved' things, such as conduct litigation for a client. I am a solicitor. I do those things.
	</p>

	<p>
		So why am I offering here only to be a 'Legal Adviser' and 'Counsellor at Law' (as well as a mediator and arbitrator)?
	</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>
		It is because (a) I was until 30 April 2018 a partner of a firm called Carter Perry Bailey LLP. I am pleased to say that Carter Perry Bailey is still going strong, even though I am no longer a partner there. I have covenants with it, stemming from my time as a partner, which mean that I cannot work as a solicitor for (most of) the clients I had there. (b) Though I work for myself, I do amongst other business have a contract with Carter Perry Bailey to work for them as Senior Counsel. That too means that I have covenants with them not to act for their clients, for example. (c) I am not registered with the SRA as a sole practitioner. And (d) the only professional indemnity insurance I have is through Carter Perry Bailey's. So for all these reasons, I cannot at the moment work for anyone as a solicitor, unless instructed at Carter Perry Bailey.
	</p>

	<p>
		I am delighted, on the other hand, to act for anyone as a Legal Adviser and/or Counsellor at Law. There are actually very few things that are legally reserved to solicitors, and my knowledge and experience are what they are.  So as a Legal Adviser or Counsellor at Law, I can give much the same advice, draft much the same letters and generally help clients in much the same way (except in the narrow 'reserved' areas, and not benefitting from legal professional privilege) as if I were a solicitor.
	</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>
		By the way, our contract – all work is accepted on my <a href="/terms-of-business">Standard Terms of Business</a> - will provide (since I have no insurance) that you can't sue me if I mess up! How many times have I been sued for messing up in the last 45 years, you ask? Never, is the answer - hoping that I am not tempting fate!
	</p>

	<p>
		Best of all, my fees are much lower as a Legal Adviser than as a solicitor. Why not halve your costs and see what a Legal Adviser can do for you?
	</p>

	<img src="/assets/img/bill-perry-8.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>
