<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>Bill has practised in (re)insurance since the 1980s. He has widespread experience, predominantly in the property and casualty markets, both direct and reinsurance.  He is an acknowledged expert in the field of art and High Net Worth insurance.</p>

	<p>He advises on numerous aspects of (re)insurance law ranging from writing fine art policy portfolios to advising and litigating or arbitrating both nationally and internationally. His experience covers, amongst others, film finance reinsurance books of business, BBB claims and policies, brokers' duties and agency authority, valuation issues and coverage advice relating to all types of policy (including life). In addition, Bill's practice encompasses inspections, back-to back reinsurance, commutations, Part VII Transfers, solicitors' negligence and state-backed indemnity fund terms.</p>

	<p>He has a substantial practice in commercial litigation and dispute resolution, mainly of an international nature, including, for example, back-to-back ICC arbitrations involving commodity transactions between companies in three jurisdictions and the law of two others.</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>He also has a long-standing contentious trust and probate practice, acting in high value international trust and probate disputes for beneficiaries and trustees. He has been a charitable trustee and a pension scheme trustee for many years.</p>

	<p>He has been involved in a long-running competition law matter involving the Competition Commission/Competition &amp; Markets Authority, the Payment Systems Regulator and the DTI/DBEIS for a national federation of many thousands of businesses. His role in acting for this client over more than 15 years also includes interpretation, drafting and advice upon enforcement of its rules (including conduct rules), on which he has also advised others over many years.</p>

	<p>Bill is a Past President of the <a href="https://www.iadclaw.org/">IADC</a> (President 2011-12; Board Member 2007-13). He is currently Director of IADC's 2017 International Corporate Counsel College; and a Member of the Business Litigation, Insurance and Reinsurance, International (Chair 2005-07) and Senior Advisory (Chair 2013-14) Committees. He was appointed Chair of Nominating Committee 2016.</p>

	<p>He is also a Past President of <a href="http://www.insuralex.com/">Insuralex</a>, the Global Insurance Lawyers Group (President 2012-14, Vice-President 2010-12).</p>

	<p>Bill is a Prime member of the <a href="https://adtalaw.com/">ADTA</a>.</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>He is also Chairman of the Association of Insurance and Reinsurance Service Providers (since 2014). AirSP is a networking and professional development group of those who provide services to the (re)insurance market, such as accountants, actuaries, auditors, claims handlers, compliance advisers, risk managers, run-off managers and solicitors across three continents.</p>

	<img src="/assets/img/bill-perry-4.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>
