<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<h3 class="h5 g-color-black g-font-weight-600 mb-3">Chambers</h3>

	<ul>
		<li>"...focuses on assisting clients facing issues disputes between insurers and insured and arbitrations".</li>
		<li>"...conducts both insurance and reinsurance cases, and is a recognised specialist in fine art insurance. According to sources, he is "a charming, hugely impressive lawyer who is able to cut through to the core of very complex matters."</li>
		<li>"Bill Perry's contentious claims expertise encompasses a particular specialism in fine art insurance".</li>
	</ul>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<h3 class="h5 g-color-black g-font-weight-600 mb-3">Legal 500</h3>

	<ul>
		<li>"...is recommended".</li>
		<li>"Extremely professional".</li>
		<li>"...a consummate operator in the reinsurance world".</li>
	</ul>

	<h3 class="h5 g-color-black g-font-weight-600 mb-3">Who's Who Legal</h3>

	<ul>
		<li>Rated for Insurance and Reinsurance and for Product Liability Defence</li>
	</ul>

	<h3 class="h5 g-color-black g-font-weight-600 mb-3">Citywealth Leaders List:</h3>

	<ul>
		<li>Rated for contentious trust work</li>
	</ul>

	<h3 class="h5 g-color-black g-font-weight-600 mb-3">Thompson Reuters' "Superlawyers"</h3>

	<ul>
		<li>Rated a 'Superlawyer' in Insurance and one of the top 100 lawyers in London during the period that it was published in England.</li>
	</ul>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<img src="/assets/img/bill-perry-7.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>
