<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>Bill's practice centres on insurance and reinsurance disputes and coverage issues, advice on wordings and commercial litigation and arbitration. He handles a wide range of disputes, in both litigation and arbitration. He has been acting in London Market issues for over 30 years and represents clients in many jurisdictions.</p>

	<p>Bill also has expertise in Trust and Fiduciary Disputes and commercial litigation and arbitration.</p>

	<p>He is a Member of the Chartered Institute of Arbitrators. He is also a CEDR accredited mediator and a Member of the Council on Civil Mediation. He is a practising arbitrator and mediator.</p>

	<p>His work spans the insurance/reinsurance, commercial and not-for-profit sectors.</p>

	<p>Bill speaks French.</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<img src="/assets/img/bill-perry.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<div class="d-flex g-mb-20">
		<div class="g-mr-10">
			<span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
				<i class="fa fa-map-marker"></i>
			</span>
		</div>

		<p class="mb-0">
			Cliveden View Cottage,<br />
			Sutton Road, Cookham,<br />
			Berkshire, SL6 9RD
		</p>
	</div>

	<div class="d-flex g-mb-20">
		<div class="g-mr-10">
			<span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
				<i class="fa fa-phone"></i>
			</span>
		</div>
		<p class="mb-0">+44 7887 645261</p>
	</div>

	<div class="d-flex g-mb-20">
		<div class="g-mr-10">
			<span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
				<i class="fa fa-globe"></i>
			</span>
		</div>

		<p class="mb-0">
			<a class="g-color-black-opacity-0_8 g-color-black--hover" href="mailto:bill@billperrylaw.com">bill@billperrylaw.com</a>
			<br />
			<a class="g-color-black-opacity-0_8 g-color-black--hover" href="https://www.billperrylaw.com/">www.billperrylaw.com</a>
		</p>
	</div>
</div>
