<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>
		Bill first sat as an arbitrator 15 years ago. His experience as an arbitrator sitting in international arbitrations includes arbitrations both in and outside England, governed by and applying both English and foreign law.
	</p>

	<p>
		Parties who have appeared before him include both private sector entities and governmental ones. He has been a member (or equivalent) of the Chartered Institute of Arbitration for more than 35 years.
	</p>

	<p>
		He is also a mediator accredited by CEDR (the Centre for Effective Dispute Resolution - widely acknowledged as the ‘gold standard’ in mediation). He is a member of the Civil Mediation Council.
	</p>

	<p>
		Naturally, Bill also has much experience representing parties in arbitrations and mediations. Clients he has acted for in one or the other (and both) include international trading companies, insurance companies, institutions, dealers, trust beneficiaries, legatees and others, whether as claimants or respondents.
	</p>

</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<p>
		In other words, he has extraordinarily wide experience acting for, deciding between and helping to resolve disputes between all types of party in a wide variety of circumstances.
	</p>

	<p>
		Described in Chambers UK as "a charming, hugely impressive lawyer who is able to cut through to the core of very complex matters ", he is flexible, adaptable and sensible in his approach, above all recognising the need for cost-effective and realistic outcomes achieved in a timely way.
	</p>

	<p>
		Widely recognised for his expertise in the (re)insurance coverage, product liability, fine art, commercial litigation, contentious trust and probate dispute fields, Bill is happy to help either by accepting appointment as arbitrator or mediator, or by acting for those involved in these processes.
	</p>
</div>

<div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
	<img src="/assets/img/bill-perry-3.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>
