<div class="col-sm-6 col-lg-6 g-px-10 g-mb-20">
	<p><em>Hall v Maritek Bahamas Ltd [2015] UKPC 23, [2015] All ER (D) 217 (Privy Council)</em> - Offer and acceptance in contract law.</p>

	<p><em>Labrouche v Frey &amp; Others [2012] 1 WLR 3160 (C.A.)</em> - Obligation of Judge to hear both sides orally.</p>

	<p><em>AGF Insurance v Lexington Insurance [2009] UKHL 40 (H. of L./S.C.)</em> - Back-to-back reinsurance.</p>

	<p>(<em>AGF Insurance Ltd v Lexington Insurance Co [2007] Lloyd's Rep IR 604 (1st Instance); [2008] Lloyd's Rep IR 510 and [2008] 1 All ER (Comm) 1085 (C.A.)</em>)</p>

	<p><em>Callaghan &amp; Anor v Thompson [2000] Lloyd's Rep IR 125</em> - Requirements for affirmation of insurance policy.</p>

	<p><em>Callaghan &amp; Anor v Dominion Insurance and Others [1997] 2 Lloyd's Rep 541</em> - Insurance claim limitation period start.</p>

	<p><em>Armitage v Nurse [1997] 3 WLR 1046</em> - Exculpation clauses for trustees.</p>

	<p><em>Aetna Reinsurance Co (UK) Ltd v Central Reinsurance Corp [1996] LRLR 165</em> - Inspection as bar to summary judgment.</p>

	<p><em>Vural v Security Archives (1990) 60 P &amp; C R; 258 Ch D</em> - The first of the two primary cases cited by the Law Commission in its March 2009 Report “Reforming Insurance Contract Law”.</p>

	<p><em>Englander &amp; Another v Berger and Others [1990] Ch 118</em> - A Jewish Zavah is an effective English law Will.</p>

	<p><em>Halvanon Insurance Ltd. v Jewett Duchesne (International) Ltd. FT CLR 28/4/87 (FT 20/3/87)</em> - Use of expert evidence.</p>

	<p><em>Rabin &amp; Others v Gerson Berger Association Limited &amp; Others  [1986] 1 All ER 374 (C.A.)</em> - Extrinsic evidence in construction of charitable trust deed.</p>
</div>

<div class="col-sm-6 col-lg-6 g-px-10 g-mb-20">
	<p><em>Berger &amp; Others v Raymond Sun Ltd &amp; Others [1984] 1 WLR 625</em> - Similar fact evidence.</p>

	<p><em>SNW Commodities v Falik [1984] 2 Lloyd's Rep 224</em> - Dealers' rights to make cash calls on traders' positions.</p>

	<p><em>Wilson Smithett &amp; Cope Ltd v Shirlett &amp; Tudor Estates Ltd FT 19/2/83</em> - Margin calls on futures trades.</p>

	<p>(And in the press: e.g. In Re Clarke, L'Estrange &amp; Ors v Prus; ‘The Mandrill'.)</p>

	<img src="/assets/img/bill-perry-6.png" class="img-fluid img-thumbnail" alt="Bill Perry" />
</div>
