<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bill Perry Law</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="shortcut icon" href="../../../favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<link rel="stylesheet" href="../../../assets/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/vendor/bootstrap/offcanvas.css">

	<link rel="stylesheet" href="../../../assets/vendor/icon-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../assets/vendor/icon-line/css/simple-line-icons.css">
	<link rel="stylesheet" href="../../../assets/vendor/icon-etlinefont/style.css">
	<link rel="stylesheet" href="../../../assets/vendor/icon-line-pro/style.css">
	<link rel="stylesheet" href="../../../assets/vendor/icon-hs/style.css">
	<link rel="stylesheet" href="../../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
	<link rel="stylesheet" href="../../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
	<link rel="stylesheet" href="../../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
	<link rel="stylesheet" href="../../../assets/vendor/animate.css">
	<link rel="stylesheet" href="../../../assets/vendor/hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="../../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
	<link rel="stylesheet" href="../../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="../../../assets/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="../../../assets/vendor/fancybox/jquery.fancybox.css">

	<link rel="stylesheet" href="../../../assets/css/unify-core.css">
	<link rel="stylesheet" href="../../../assets/css/unify-components.css">
	<link rel="stylesheet" href="../../../assets/css/unify-globals.css">

	<link rel="stylesheet" href="../../../assets/css/custom.css">
</head>

<body class="u-body--header-side-static-left">
	<main>
		<div id="js-header" class="u-header u-header--side" data-header-position="left" data-header-breakpoint="lg">
			<div class="u-header__sections-container g-bg-white g-brd-right--lg g-brd-gray-light-v5 g-py-10 g-py-40--lg g-px-14--lg">
				<div class="u-header__section u-header__section--light">
					<nav class="navbar navbar-expand-lg">
						<div class="js-mega-menu container">
							<button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
							aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
								<span class="hamburger hamburger--slider">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</span>
							</button>

							<a href="/" class="navbar-brand g-mb-40--lg">
								<img src="../../../assets/img/logo/logo.png" alt="Bill Perry Law">
							</a>

							<div class="collapse navbar-collapse align-items-center flex-sm-row w-100 g-mt-20 g-mt-0--lg g-mb-40" id="navBar">
								<ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-sub-menu-v1">
									<li class="nav-item g-my-5">
										<a href="/" class="nav-link">Home</a>
									</li>

									<li class="nav-item g-my-5">
										<a href="#career" class="nav-link">Career Overview</a>
									</li>

									<li class="nav-item g-my-5">
										<a href="#mediation" class="nav-link">Mediation – Arbitration – A D R</a>
									</li>

									<li class="nav-item g-my-5">
										<a href="#cases" class="nav-link">Reported Cases</a>
									</li>

									<li class="nav-item g-my-5">
										<a href="#recognition" class="nav-link">Directory Recognition</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		{{ content }}

		<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
						<div class="d-lg-flex">
							<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<a class="js-go-to u-go-to-v1" href="/" data-type="fixed" data-position='{
		"bottom": 15,
		"right": 15
	}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
		<i class="hs-icon hs-icon-arrow-top"></i>
		</a>
	</main>

	<script src="../../../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
	<script src="../../../assets/vendor/popper.min.js"></script>
	<script src="../../../assets/vendor/bootstrap/bootstrap.min.js"></script>

	<script src="../../../assets/vendor/bootstrap/offcanvas.js"></script>

	<script src="../../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
	<script src="../../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
	<script src="../../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
	<script src="../../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
	<script src="../../../assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
	<script src="../../../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="../../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../../assets/vendor/slick-carousel/slick/slick.js"></script>
	<script src="../../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="../../../assets/vendor/gmaps/gmaps.min.js"></script>

	<script src="../../../assets/js/hs.core.js"></script>

	<script src="../../../assets/js/components/hs.header-side.js"></script>
	<script src="../../../assets/js/helpers/hs.hamburgers.js"></script>

	<script src="../../../assets/js/components/hs.dropdown.js"></script>
	<script src="../../../assets/js/components/hs.scrollbar.js"></script>
	<script src="../../../assets/js/components/hs.popup.js"></script>
	<script src="../../../assets/js/components/hs.carousel.js"></script>

	<script src="../../../assets/js/components/gmap/hs.map.js"></script>

	<script src="../../../assets/js/components/hs.go-to.js"></script>

	<script src="../../../assets/js/custom.js"></script>

	<script>
		function initMap() {
			$.HSCore.components.HSGMap.init('.js-g-map');
		}

		$(document).on('ready', function () {
			$.HSCore.components.HSGoTo.init('.js-go-to');

			$.HSCore.components.HSCarousel.init('.js-carousel');

			$.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
				afterOpen: function () {
					$(this).find('input[type="search"]').focus();
				}
			});

			$('.masonry-grid').imagesLoaded().then(function () {
				$('.masonry-grid').masonry({
					columnWidth: '.masonry-grid-sizer',
					itemSelector: '.masonry-grid-item',
					percentPosition: true
				});
			});

			$.HSCore.components.HSPopup.init('.js-fancybox');
		});

		$(window).on('load', function () {
			$.HSCore.components.HSHeaderSide.init($('#js-header'));
			$.HSCore.helpers.HSHamburgers.init('.hamburger');

			$('.js-mega-menu').HSMegaMenu({
				event: 'hover',
				direction: 'vertical',
				breakpoint: 991
			});
		});
	</script>
</body>
</html>
